
    table{
       
       border:solid red;
       
     }
#th1{
    background-color:silver
  }    
  
#tr1{background-color:green;} 
#tr2{background-color:yellow;}
#tr3{background-color:blue;}
#tr4{background-color:violet;}
#tr5{background-color:indigo;} 
#tr6{background-color:cyan;} 
